


body {
  font-family: 'Poppins', sans-serif;
  background-color: list;
}

nav {
  background-color: #20bf55;
background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
  font-weight: bold;
}

